<html ng-app="zambrey-app">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
		<title>Ameya Zambre</title>
		<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="css/style.css">	
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
		<script type="text/javascript" src="js/controller.js"></script>
	</head>
	<body ng-controller="zambrey-ctrl">
		<div class="sidebar" ng-class="{sidebar_shown: displaySidebar}">
			<div class="face">
				<img ng-src="images/face.jpg">
			</div>
			<div id="nameText">{{nameText}}</div>
			<div id="nameSubtext">{{nameSubtext}}</div>
			<ul>
				<li ng-repeat="section in sections">
					<a href="{{section.id}}">{{section.title}}</a>
				</li>
			</ul>
			<div class="social-holder" >
				<i ng-repeat="social in socialMedia" class="{{social.class}}" link="{{social.link}}" ng-click="openInNewWindow();"></i>
			</div>
		</div>
		<div class="content" ng-class="{content_sidebar_shown: displaySidebar}">
			<div class="header">
				<div class="fa fa-bars sidebar-button" ng-click="displaySidebar=!displaySidebar"></div>
				<span>{{nameText}}</span>
			</div>
			
			<div class="section" id="about">
				<h3>About Me</h3>
				<d>{{aboutMe}}</p>
			</div>

			<div class="section" id="recent">
				<h3>Recent Projects</h3>
				<ul>
					<li ng-repeat="recentProject in recentProjects">
						<div class="project">
							<h4>{{recentProject.title}}</h4>
							<p>{{recentProject.description}}</p>
							<div><i class="fa fa-link bullet"></i><a href={{recentProject.link}}>{{recentProject.linkText}}</a></div>
							<div><i class="fa fa-code bullet"></i>{{recentProject.technology}}</div>
						</div>
					</li>
				</ul>
			</div>

			<div class="section" id="internships">
				<h3>Internships</h3>
				<ul>
					<li ng-repeat="internship in internships">
						<div class="project">
							<h4>{{internship.title}}</h4>
							<!--img class="thumbnail" ng-src={{internship.thumbnail}}-->
							<p>{{internship.description}}</p>
							<!--span><i class="fa fa-user bullet"></i>{{internship.guide}}, {{internship.guideTitle}}</span-->
							<div><i class="fa fa-code bullet"></i>{{internship.technology}}</div>
						</div>
					</li>
				</ul>
			</div>
			
			<div class="section" id="grad">
				<h3>Graduate Projects</h3>
				<ul>
					<li ng-repeat="graduateProject in graduateProjects">
						<div class="project">
							<h4>{{graduateProject.title}}</h4>
							<p>{{graduateProject.description}} <a href={{graduateProject.link}}>{{graduateProject.linkText}}</a></p>				
							<div><i class="fa fa-code bullet"></i>{{graduateProject.technology}}</div>
						</div>
					</li>
				</ul>
			</div>

			<div class="section" id="undergrad">
				<h3>Undergraduate Projects</h3>
				<ul>
					<li ng-repeat="undergradProject in undergradProjects">
						<div class="project">
							<h4>{{undergradProject.title}}</h4>
							<!--img class="thumbnail" ng-src={{undergradProject.thumbnail}}-->
							<span><i class="fa fa-user bullet"></i>{{undergradProject.guide}}, {{undergradProject.guideTitle}}</span>
							<p>{{undergradProject.description}}</p>
							<a href={{undergradProject.link}}>{{undergradProject.linkText}}</a>
						</div>
						
					</li>
				</ul>
			</div>
		</div>
		<div class="footer"></div>
	</body>
	<footer></footer>
</html>